* {
    border: none;
    font-family: FiraCode Nerd Font;
    font-size: 13px;
}

/* Module groups */

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #c6d0f5;
}

.modules-left {
	background-color: rgba(48, 52, 70, 0.35);
    color: #c6d0f5; /* top right bottom left */
    margin: 5px 5px 5px 5px; /* top right bottom left */
}

.modules-center {
    background: transparent;
    color: #c6d0f5;
    margin: 5px 0px 5px 0px; /* top right bottom left */
}

.modules-right {
    background: transparent;
    color: #c6d0f5;
    margin: 5px 5px 5px 0px; /* top right bottom left */
}

/* Workspaces */

#workspaces button {
    padding: 4px 8px;
    margin: 0px 2px;
    color: #c6d0f5;
    box-shadow: none;
    background-image: none;
	background-color: rgba(48, 52, 70, 0.35);
    border: 2px solid rgba(98, 104, 128, 0);
    border-radius: 5px;
}

#workspaces button:hover {
    color: #FFFFFF;
    border: 2px solid rgba(98, 104, 128, 1);
}

#workspaces button.focused, #workspaces button.active {
    background-color: rgba(48, 52, 70, 0.8);
    color: #FFFFFF;
}

#workspaces button.urgent {
    background-color: #e78284;
    color: #FFFFFF;
}

/* Other */

#tray,
#clock,
#battery,
#network,
#pulseaudio,
#custom-media,
#custom-hyprshot,
#custom-power {
    padding: 4px 10px;
    margin: 0px 2px;
	background-color: rgba(48, 52, 70, 0.35);
    border: 2px solid rgba(98, 104, 128, 0);
    border-radius: 5px;
}

#submap {    
    padding: 4px 10px;
    margin: 0px 2px;
	background-color: rgba(48, 52, 70, 0.35);
    border: 2px solid rgba(239, 159, 118, 1);
    border-radius: 5px;
    color: rgba(239, 159, 118, 1);
    font-weight: bold;
}

#tray:hover,
#clock:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#custom-media:hover,
#custom-hyprshot:hover,
#custom-power:hover {
    border: 2px solid rgba(98, 104, 128, 1)
}
